//breakpoint
main {
  min-height: 90vh;
  display: flex;
  align-items: center;
  height: 90vh;

  @media only screen and (max-width: 991px) {

  }

  .box-content-header {

    .wrapper-form {
      h2 {
        text-transform: uppercase;
        text-align: left;
        font-weight: 300;
        line-height: 1.4;
        margin-bottom: 30px;
      }

      .form-control {
        background: transparent;
        color: $light;
        opacity: 1;
        border-radius: 0;
        border: 2px solid $light;

        &::placeholder {
          color: transparentize($light, 0.5);
        }
      }

      p {
        text-align: left;
        margin-bottom: 1em;
      }

      .cta {
        text-align: right;
      }
    }

  }
}