main {

  @media only screen and (max-width: 991px) {
    height: auto;
  }

  .box-content-header {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;

    .wrapper-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 100%;
      justify-content: center;

      @media only screen and (max-width: 991px) {
        margin-top: 3em;
      }

      .item-content {
        width: 100%;
        text-align: center;

        &__1 {
          .homepage-header {

            display: grid;
            grid-template-areas:
                              "coming"
                              "date"
                              "imgLogo";
          }
          .homepage-content {
            grid-area: coming;
          }
          .portland {
            grid-area: imgLogo;
          }
          .subtitle {
            grid-area: date;
          }
        }

        &__2 {
          display: flex;
          align-content: center;
          justify-content: center;
          align-items: flex-end;

          @media only screen and (max-width: 991px) {
            align-items: center;
          }
        }

        .wrapper-form {
          width: 100%;
          padding: 4em 2em;

          @media only screen and (max-width: 991px) {
            padding: 2em 1rem;
            margin-bottom: 0;
          }
        }
        .homepage-content {

          #coming-soon {
            font-size: 4em;
            text-transform: uppercase;
            position: relative;
            display: inline-block;


            @media only screen and (max-width: 668px) {
              font-size: 3em;
            }
          }

          #broadstone {
            text-transform: uppercase;
            letter-spacing: 4px;
            font-weight: 100;
            font-size: 2em;
          }

          #portland {
            font-size: 6em;
            margin-top: -18px;
          }
        }

        .portland {
          margin-top: -18px;
          position: relative;
          width: max-content;
          margin: auto;

          img.img-logo {
            width: 400px;

            @media only screen and (max-width: 668px) {
              width: 280px;
            }
          }

        }
        .subtitle {
          text-transform: uppercase;
          font-size: 2em;
          margin-bottom: 1em;
          font-weight: 300;

          @media only screen and (max-width: 668px) {
            font-size: 1.5em;
          }
        }
      }
    }
    .wrapper-form {
      .form-control {
        background: transparent;
        color: $body-color;
        opacity: 1;
        border-radius: 5px;
        border: 2px solid $body-color;

        &::placeholder {
          color: $body-color;
        }
      }

      p {
        text-align: left;
        margin-bottom: 1em;
        font-weight: 100;
      }

      .cta {
        text-align: right;
      }
    }

    .wrapper-images {
      width: 100%;
      height: 100%;
      display: flex;
      align-content: center;
      justify-content: center;
      align-items: center;

      .img {
        width: 250px;
        box-shadow: 5px 7px 14px 12px #2b2b2e1a, 0 5px 14px 4px #00000012;
        transition-duration: .5s;

        @media only screen and (max-width: 538px) {
          width: 140px;
        }

      &__img-one {
          margin-top: -5em;
          margin-right: .5em;

         &:hover {
            transform: translateY(-15px);
          }
        }

        &__img-two {
          margin-top: 5em;
          margin-left: .5em;

          &:hover {
            transform: translateY(15px);
          }
        }
      }

    }

    @media only screen and (max-width: 991px) {
      flex-direction: column;
    }
  }
  .bg-custom {
    background-color: transparent;
  }
  p {
    color: $body-color;
    margin: 0;
  }
}