$primary : {{ .Site.Params.style.primary }};
$secondary : {{ .Site.Params.style.secondary }};
$font-family-base : {{ .Site.Params.style.fontFamily }};
$body-bg: {{ .Site.Params.style.bodyBg }};
$body-color: {{ .Site.Params.style.bodyColor }};
$bg-custom: {{ .Site.Params.style.bgCustom }};
$light: {{ .Site.Params.style.light }};

@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "reset";
@import "global";

{{ if eq .Site.Params.themeOption 1 }}
@import "theme1";
{{ end }}

{{ if eq .Site.Params.themeOption 2 }}
@import "theme2";
{{ end }}

{{ if eq .Site.Params.themeOption 3 }}
@import "theme3";
{{ end }}