<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K99XKFX"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
        {{- partial "header.html" . -}}
        <div id="content">
        {{- block "main" . }}{{- end }}
        <div class="powered-by"><p>Powered by <a href="https://gtma.agency" target="_blank">GTMA</a></p></div>
        </div>
        {{- partial "footer.html" . -}}
    </body>
</html>
