<h2 class="text-light">Sign up to<br>stay informed</h2>
<form id="contact" name="contact" data-netlify="true" action="thank-you" method="POST">
  {{ with .Params.subtitle }}
  <input type="hidden" id="subject" name="subject" value="{{ . }}">
  {{ end }}
  <div class="row mb-3">
    <div class="col">
      <input type="text" name="Name" class="form-control" placeholder="Name" aria-label="Name">
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">
      <input type="email" name="Email" class="form-control" placeholder="Email" aria-label="Email Address">
    </div>
  </div>
  <div class="row">
    <div class="col cta">
      <input class="btn btn-primary text-uppercase text-light" type="submit" value="Sign up">
    </div>
  </div>
</form>
