<h2>Sign up to<br>stay informed</h2>
<form data-netlify="true" action="thank-you.html" method="POST">
  <div class="row mb-3">
    <div class="col">
      <input type="text" class="form-control" placeholder="Name" aria-label="Name">
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">
      <input type="email" class="form-control" placeholder="Email" aria-label="Email Address">
    </div>
  </div>
  <div class="row">
    <div class="col cta">
      <input class="btn btn-primary text-uppercase" type="submit" value="Sign up">
    </div>
  </div>
</form>