<form data-netlify="true" action="thank-you.html" method="POST">
  <div class="row mb-3">
    <div class="col">
      <input type="text" class="form-control" placeholder="First name" aria-label="First name">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">
      <input type="email" class="form-control" placeholder="email@email.com" aria-label="Email Address">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <input class="btn btn-primary" type="submit" value="Connect!">
    </div>
  </div>
</form>