{{ define "main" }}
{{ if not (eq .Site.Params.themeOption 3 )}}
      <main class="" aria-role="main" style="background-image: url( {{ .Params.heroImage }} ); background-size: cover;">
  {{ else}}
      <main class="" aria-role="main">
{{ end }}
    <div class="box-content-header">
      <div class="wrapper-content">
        <div class="bg-custom item-content item-content__1">
          <div class="px-3 container-fluid">
            <div class="homepage-header">
              <div class="homepage-content">
                {{.Content}}
              </div>
              <div class="logo">
                <img class="img-logo" src="{{ .Site.Params.logo }}" alt="{{ .Site.Title }}">
              </div>
              {{ with .Params.subtitle }}
              <h3 class="subtitle">{{.}}</h3>
              {{ end }}
            </div>
          </div>
        </div>
        <div class="item-content item-content__2">
          <div class="wrapper-form">
            {{ if .Site.Params.enableForm }}
            {{ partial "form.html" }}
            {{ end }}
          </div>
        </div>
      </div>
      {{ if eq .Site.Params.themeOption 3}}
      <div class="wrapper-images">
        <img class="img img__img-one" src="{{ .Site.BaseURL }}/image-one.png" alt="{{ .Site.Title }}">
        <img class="img img__img-two" src="{{ .Site.BaseURL }}/image-two.png" alt="{{ .Site.Title }}">
      </div>
      {{ end }}
    </div>

</main>
{{ if .Site.Params.enableMap }}
{{ partial "map.html" }}
{{ end }}
{{ end }}